{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Books available</h1>
    {% if perms.books.create_book %}
        <a href="{% url 'Books:create' %}">Create New Book</a>
    {% endif %}
    <div class="row">
        {% for book in books %}
            <div class="col">
                <div><span class="bold">Book Title: </span>{{ book.title }}</div>
                <div><span class="bold">Book Name: </span>{{ book.content }}</div>
                {% if perms.books.edit_book %}
                    <a href="{% url 'Books:edit' book.id %}">Edit Book</a>
                {% endif %}
                {% if perms.books.delete_book %}
                    <a href="{% url 'Books:delete' book.id %}">Delete Book</a>
                {% endif %}

            </div>
            <hr>
        {% empty %}
            <center>No Books Available</center>
        {% endfor %}
    </div>
{% endblock %}

